.services_section{
    padding:50px 0px 70px;
}
.headingTwo{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 46px;
}
.icon {
    margin: 40px auto 35px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.box h4{
    font-weight: bold;
}
.boxx{
   
    margin: 10px;
    padding:10px 40px 25px;
    transition: all .4s;
}
.boxx:hover{
    box-shadow: 0px 0px 12px #0000002e;
  
    transform: scale(1.1);
}
.opacity:hover {


}
Link{
    text-decoration: none;
}

.img {
    width: 50px;
    margin: auto;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img h5{
    margin-top: 1rem;
    font-size: 30px;
}