.feedback{
    padding: 50px;
}
.client_section{
    padding-bottom:30px;
}
.customar{
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 30px;
}
.boxes{
   border:1px solid rgb(207, 206, 206);
   padding: 15px 20px 5px;
   margin: 10px;
   height: 220px;
   width: 340px;
}
.title h5, .title h4{
    font-weight: bolder;
}

