.serviceIcon{
    margin-top: 0px;
}
button.btn.btn-pending,button.btn.btn-done{
  
    padding: 10px 20px;
 
    height: 44px;
}

button.btn.btn-pending{
    background: #FFE3E3;
    color: red;
}
button.btn.btn-done{
    background: #C6FFE0;
    color: green;
}
.first{
    border-radius: 10px;
}